@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.Modal {
  position: fixed;
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  bottom: 0;
}

.Modal div {
  /* padding-left: 10px */
  display: flex;
  justify-content: center;
  align-items: center;
}